<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMonsterousService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/monsterdataservice/MonsterousService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonsterousService"
                contract="MonsterServiceReference.IMonsterousService" name="BasicHttpBinding_IMonsterousService" />
        </client>
    </system.serviceModel>
</configuration>